# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/

# Virtual Environments
venv/
.venv/

# Environment variables 
.env

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp
*.log
tmp/

# PDF files — don't push uploaded documents
*.pdf

# Docker
*.override.yml